[project]
	description = Verotel FlexPay allows Verotel merchants to charge for content
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Verotel (verotel)
[access "refs/for/refs/*"]
	read = group user/Verotel (verotel)
	push = group user/Verotel (verotel)
	label-Code-Review = -2..+2 group user/Verotel (verotel)
	label-Verified = -1..+1 group user/Verotel (verotel)
	rebase = group user/Verotel (verotel)
	removeReviewer = group user/Verotel (verotel)
	submit = group user/Verotel (verotel)
[access "refs/heads/*"]
	read = group user/Verotel (verotel)
	create = group user/Verotel (verotel)
	push = +force group user/Verotel (verotel)
	pushMerge = group user/Verotel (verotel)
[access "refs/tags/*"]
	push = +force group user/Verotel (verotel)
	pushTag = group user/Verotel (verotel)
	pushSignedTag = group user/Verotel (verotel)
